@import '../../../scss/breakpoints.scss';
@import '../../../scss/colors.scss';
@import '../../../scss/mixins.scss';
@import '../../../scss/typhography.scss';

.payment {

}

.body {
    margin-top: 37px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    @media (max-width: 1200px) {
        flex-wrap: wrap;
    }
}

@media (max-width: 1200px) {
    .data, .support {
        flex: 0 0 48%;
    }
    
}

.heading {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title {
    font-weight: 700;
    font-size: 15px;
    line-height: 17.58px;
}

.dataItem {
    padding: 12px 25px;
    background-color: #1C232D;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainData {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 auto;
    margin-left: 26px;
    gap: 8px;
}

.itemName {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.itemData {
    font-weight: 700;
    color: #E6E6F8;
}

.itemDataYellow {
    font-weight: 900;
    color: $primaryTextHover;
}

.copyIcon {
    transition: all .4s ease;
    cursor: pointer;
    &:hover {
        color: $primaryTextHover;
    }
}

.data {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 246px;
}

.support {
    flex-grow: 1;  
    border-radius: 12px;
    border: 5px solid $primaryTextHover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 90px 48px 65px 48px;
    cursor: pointer;
    max-width: 314px;
    @media(max-width:1300px) {
        padding: 50px 10px 35px 10px;
    }
    @media (max-width: 718px) {
        width: 100%;
        min-width: 100%;
        flex-direction: row;
        gap: 25px;
        padding: 30px 10px 30px 30px;
    }
}

@media (max-width: 718px) {
    .supportWrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.dataItemSuccess {
    padding: 12px 20px;
    background: linear-gradient(170deg, rgba(29, 203, 140, 0.10) 100%, rgba(29, 203, 140, 0) 100%);
    border: 1px rgba(29, 203, 140, 0.50) solid;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dataItemInProcess {
    padding: 12px 25px;
    background: linear-gradient(170deg, rgba(232.79, 171.62, 35.69, 0.10) -100%, rgba(59, 51, 33, 0) 100%);
    border: 1px rgba(132.31, 104.23, 37.54, 0.50) solid;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dataItemError {
    padding: 12px 25px;
    background: linear-gradient(170deg, rgba(231, 81, 60, 0.10) -100%, rgba(255, 87, 64, 0) 100%);
    border: 1px rgba(200, 83, 67, 0.50) solid;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainDataStatus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 auto;
    margin-left: 20px;
    gap: 7px;
}

.statusName {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: $primaryGreen;
}
.statusNameYellow {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: $primaryTextHover;
}
.statusNameRed {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: $redText;
}
.status {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: #E6E6F8;
}

.description {
    height: 360px;
    width: 698px;
    flex-shrink: 0;
    padding: 20px 27px;
    background-color: #1B232D;
    border-radius: 12px;
    @media (max-width: 1200px) {
        order: 1; // Moves the description block below the other blocks
        width: 100%;
        margin-top: 20px; // Optional: Adds some space between the blocks and the description when moved down
    }
    @media (max-width: 718px) {
        height: 100%;
    }
}

.desc {
    line-height: 140%;
    font-size: 14px;
    font-weight: 500;
    color: #E6E6F8;
}

.warning {
    margin-top: 21px;
    font-size: 15px;
    font-weight: 700;
    line-height: auto;

}

.yellow {
    font-size: 15px;
    font-weight: 700;
    line-height: auto;
    color: $primaryTextHover;
    margin-left: 4px;
}

.statusWrap {
    display: flex;
    flex-direction: column;
    @media (max-width: 718px) {
        align-items: start;
    }
}

.statusItemSuccess {
    width: 33.333%;
    padding: 27px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(170deg, rgba(29, 203, 140, 0.10) -100%, rgba(29, 203, 140, 0) 100%);
    border: 1px rgba(29, 203, 140, 0.50) solid;
    border-radius: 12px;
    @media (max-width: 718px) {
        flex-direction: row;
        width: 100%;
        align-items: center;
        gap: 13px;
        justify-content: flex-start;
        padding: 15px 22px;
    }
    @media (max-width: 385px) {
        padding: 15px 12px;
    }
}



.statusItemInProcess {
    width: 33.333%;
    padding: 27px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(170deg, rgba(232.79, 171.62, 35.69, 0.10) -100%, rgba(59, 51, 33, 0) 100%);
    border: 1px rgba(132.31, 104.23, 37.54, 0.50) solid;
    border-radius: 12px;
    @media (max-width: 718px) {
        flex-direction: row;
        width: 100%;
        align-items: center;
        gap: 13px;
        justify-content: flex-start;
        padding: 15px 22px;
    }
    @media (max-width: 385px) {
        padding: 15px 12px;
    }
}

.statusItemError {
    width: 33.333%;
    padding: 27px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(170deg, rgba(231, 81, 60, 0.10) -100%, rgba(255, 87, 64, 0) 100%);
    border: 1px rgba(200, 83, 67, 0.50) solid;
    border-radius: 12px;
    @media (max-width: 718px) {
        flex-direction: row;
        width: 100%;
        align-items: center;
        gap: 13px;
        justify-content: flex-start;
        padding: 15px 22px;
    }
    @media (max-width: 385px) {
        padding: 15px 12px;
    }
}

.statusInfo {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin-top: 17px;
    color: #E6E6F8;
    @media (max-width: 718px) {
        margin-top: 0;
    }
}

.statusBlock {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    @media (max-width: 718px) {
        flex-wrap: wrap;
    }
}

.statusTextGreen {
  margin-top: 12px;  
  font-size: 13px;
  font-weight: 500;
  color: $primaryGreen;
  line-height: 140%;
  @media (max-width: 718px) {
    text-align: left;
    margin-top: 3px;
  }
}

.statusIcon {
    flex-shrink: 0;
}

.statusTextYellow {
    margin-top: 12px;  
    font-size: 13px;
    font-weight: 500;
    color: $primaryTextHover;
    line-height: 140%;
    @media (max-width: 718px) {
        text-align: left;
        margin-top: 3px;
      }
}

.statusTextRed {
    margin-top: 12px;  
    font-size: 13px;
    font-weight: 500;
    color: $redText;
    line-height: 140%;
    @media (max-width: 718px) {
        text-align: left;
        margin-top: 3px;
    }
}

// .support {
//     border-radius: 12px;
//     border: 5px solid $primaryTextHover;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     // min-width: 314px;
//     // padding: 90px 40px 65px 40px;
//     padding: 90px 48px 65px 48px;
//     width: 100%;
//     max-width: 314px;
//     cursor: pointer;
// }

.supportTitle {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    @media (max-width: 718px) {
        margin-top: 0;
        text-align: left;
    }
}

.supportText {
    margin-top: 10px;
    font-size: 14px;
    line-height: 140%;
    font-weight: 500;
    text-align: center;
    @media(max-width:1300px) {
        font-size: 13px;
    }
    @media (max-width: 718px) {
        text-align: left;
    }
}

@media (max-width: 718px){
    .supportIcon {
        flex-shrink: 0;
    }
}


.review {
    margin-top: 24px;

}

.revBody {
    display: flex;
    gap: 20px;
    margin-top: 27px;
}

.addRev {
    display: flex;
    flex-direction: column;
    background-color: #1C232D;
    border-radius: 12px;
    padding: 16px 17px;
    height: 224px;
    flex: 1 1 auto;
}

.textArea {
    height: 89%;
    textarea {
        background-color: transparent;
        resize: none;
        color: $primaryText;
        font-family: $fontFamily;
        width: 100%;
        height: 100%;
        font-weight: 500!important;
        font-size: 14px;
        &::placeholder {
            color: $primaryText;
            font-weight: 600;
            font-size: 14px;
        }
    }
}
.rates {
    width: 320px;
    background-color: #1C232D;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 0 25px;
}

.actions {
    display: flex;
    align-items: center;
    @media (max-width: 900px) {
        justify-content: space-between;
    }
}

.thumbs {
    display: flex;
}

.btnSubmit {
    padding: 13px 31px;
    background-color: $primaryTextHover;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #E6E6F8;
    transition: all .4s ease;
    &:hover {
        box-shadow: 0px 0px 30px 0px rgba(231, 187, 11, 0.3);
    }
}

.btnLike {
    margin-left: 22px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.2%;
    transition: all .4s ease;
    &:hover {
        color: $primaryGreen;
    }
    display: flex;
    align-items: flex-end;
    gap: 10px;
    @media (max-width: 1200px) {
        span {
            display: none;
        }
        margin-left: 28px;
    }
}

.btnDisLike {
    margin-left: 32px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.2%;
    transition: all .4s ease;
    &:hover {
        color: $redText;
    }
    display: flex;
    align-items: flex-end;
    gap: 10px;
    @media (max-width: 1200px) {
        span {
            display: none;
        }
        margin-left: 8px;
    }
}

.pay {
    margin-top: 25px;
}

@media (max-width: 718px) {
    .rates {
        display: none;
    }
}

@media (max-width: 1200px) {
    .pay {
        display: none;
    }
}