/* SocialButtons.module.css */
.container {
  display: flex;
  position: relative;
  width: 200px; /* Ширина контейнера */
  height: 50px; /* Высота контейнера */
}

.socialBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  margin-left: 17px;
  background-color: #eef5ff;
  border-radius: 12px;
  transition: all 0.3s ease;
  &:hover {
    background-color: #dbeaff;
  }
}

.container iframe {
  position: absolute;
  top: 5px;
  left: 80px;
  width: 59px !important;
  height: 59px !important;
  opacity: 0; /* Скрываем iframe */
  z-index: 1; /* iframe ниже кнопки */
  pointer-events: all; /* Обеспечивает передачу кликов iframe */
}
