@import '../../../scss/breakpoints.scss';
@import '../../../scss/colors.scss';
@import '../../../scss/mixins.scss';
@import '../../../scss/typhography.scss';



.heading {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.title {
    font-weight: 700;
    font-size: 15px;
}

.profileInner {
    margin-top: 18px;
    padding: 27px 22px 26px 34px;
    background-color: #1C232D;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}

.account {
    display: flex;
    align-items: center;
    gap: 31px;
    &:hover {
        .image {
            border: 5px solid $primaryTextHover;
        }
        .name {
            color: $primaryTextHover;
        }
    }
    cursor: pointer;
}

.image {
    border-radius: 50%;
    border: 5px solid #364152;
    img{
        border-radius: 50%;
    }
    transition: all .4s ease;
    @media (max-width: 390px) {
        display: none;
    }
}

.profileInfo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.name {
    font-size: 20px;
    font-weight: 700;
    color: $primaryText;
    transition: all .4s ease;
}

.vk {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}

.stats {
    display: flex;
    align-items: center;
    gap: 18px;
    flex-wrap: wrap;
    @media (max-width: 768px) {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
}

.statsItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &:hover {
        .statsName {
            color: #E6E6F8;
        }
        .statsWrap {
            background-color: $primaryTextHover;
        }
    }
    cursor: pointer;
}

.statsName {
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    transition: all .4s ease;
}

.statsWrap {
    background-color: #222B39;
    padding: 8px 18px 10px 18px;
    border-radius: 12px;
    width: 142px;
    transition: all .4s ease;
}

.quantity {
    font-size: 14px;
    line-height: 140%;
    font-weight: 500;
    color: #e6e6f8;
}

.payHistory {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    @media (max-width: 622px) {
        overflow-x: auto;
        flex-wrap: nowrap;
        width: 100%; 
    }

}

.payedItem {
    display: flex;
    align-items: center;
    background-color: #1C232D;
    min-height: 70px;
    border-radius: 12px;
    cursor: pointer;
    transition: background .4s ease;
    &:hover {
        background-color: #222B39;
    }
    @media (max-width: 1000px) {
        width: 100%;
    }
    @media (max-width: 622px) {
        flex-shrink: 0;
        min-width: 630px;
    }
}

.historyText {
    font-size: 14px;
    color: #e6e6f8;
    font-weight: 500;
    line-height: 16px;
}

.history {
    @media (max-width: 1000px) {
        width: 100%;
    }
}

.number {
 display: flex;
 gap: 12px;
 align-items: center;
padding-right: 26px;
padding-left: 25px;
height: 70px;
border-right: 1px solid rgba(54, 65, 82, .3);
@media (max-width: 1000px) {
    justify-content: flex-start;
    min-width: 200px;
    width: 25%;
padding-right: 0;
}
@media (max-width: 820px) {
    min-width: 170px;
}
@media (max-width: 622px) {
    width: 180px;
}
}

.date {
    display: flex;
    gap: 12px;
    align-items: center;
   padding-right: 26px;
   padding-left: 25px;
   height: 70px;

   border-right: 1px solid rgba(54, 65, 82, .3);
   @media (max-width: 1000px) {
    width: 25%;
    justify-content: flex-start;
    min-width: 200px;
    padding-right: 0;
}
@media (max-width: 820px) {
    min-width: 180px;
}
@media (max-width: 622px) {
    width: 160px;
}

    
}

.cost {
    display: flex;
    gap: 12px;
    align-items: center;

   padding-right: 43px;
   padding-left: 25px;
   height: 70px;
   border-right: 1px solid rgba(54, 65, 82, .3);
   @media (max-width: 1000px) {
    justify-content: flex-start;
    min-width: 200px;
    padding-right: 0;
    width: 25%;
}
@media (max-width: 820px) {
    justify-content: flex-start;
    padding-left: 25px;
    width: 120px;
    min-width: 0;
}
}

.status {
    display: flex;
    gap: 12px;
    align-items: center;
   padding-left: 20px;
   padding-right: 20px;
   height: 70px;
   @media (max-width: 1000px) {
    justify-content: flex-start;
    padding-left: 25px;
    min-width: 200px;

    width: 25%;
    text-align: center;
    }
    @media (max-width: 820px) {
        min-width: 150px;
    }
    @media (max-width: 622px) {
        width: 160px;
    }
}
.animate {
    position: relative;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
}

.success {
    font-size: 14px;
    letter-spacing: 1.2%;
    font-weight: 900;
    color: $primaryGreen;
}

.inProcess{
    font-size: 14px;
    letter-spacing: 1.2%;
    font-weight: 900;
    color: #FF8C00;
}

.info {
    display: flex;
    margin-top: 21px;
    gap: 20px;
    @media (max-width: 1200px) {
        flex-wrap: wrap!important; 
        &:not(:last-child) {
            gap: 0px;
        }
    }
    @media (max-width: 1000px) {
        justify-content: space-between;
        gap: 22px;
    }
}


.referal, .support {
    flex: 1;

    max-width: 100%;
}

.referal{
    min-width: 350px;
    @media (max-width: 1200px) {
        margin-left: 20px;
    }
    @media (max-width: 1000px) {
        margin-top: 24px;
        margin-left: 0;
    }
}


.icon {
    transition: all .4s ease;
    cursor: pointer;
    &:hover {
        color: $primaryTextHover; // Ensure you have this variable defined
    }
    
}

.refBody {
    margin-top: 19px;
    padding: 38px 23px 32px 23px;
    border-radius: 12px;
    background-color: #1C232D;
}

.refTitle {
    font-size: 15px;
    font-weight: 500;
    &:not(:first-child) {
        margin-top: 31px;
    }
}

.urlWrap {
    margin-top: 18px;
    padding: 18px 16px 18px 26px;
    background-color: #222B39;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.url {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}

.refPercent {
    margin-top: 19px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 480px) {
        overflow-x: auto;
    }
}

.refItem {
    width: 100px;
    height: 80px;
    background-color: #222B39;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #E6E6F8;
    font-size: 20px;
    line-height: 140%;
    transition: background .4s ease;
    cursor: pointer;
    &:hover {
        background-color: $primaryTextHover; // Ensure you have this variable defined
    }
    @media (max-width: 480px) {
        min-width: 100px;
    }
}



.support {
    margin-top: 37px;
    border-radius: 12px;
    border: 5px solid $primaryTextHover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 314px;
    // padding: 90px 40px 65px 40px;
    padding: 54px 48px 53px 48px;
    @media (max-width: 1290px) {
        padding: 54px 5px 53px 5px;  
    }
    width: 100%;
    cursor: pointer;
    @media (max-width: 1200px) {
        min-width: 100%;
        flex-direction: row;
        gap: 33px;
        margin-top: 33px;
        align-items: center;
        justify-content: flex-start;
        padding: 26px 6px 26px 35px;  
    }
    @media (max-width: 1000px) {
        margin-top: 61px;
        min-width: 0;
        flex-direction: column;
        flex: 0 0 37%;
        align-items: center;
        justify-content: center;
        width: 0;
        padding: 54px 5px 53px 5px;  
        gap: 20px;
    }
    @media (max-width: 768px) {
        margin-top: 21px;
        flex: 0 0 100%;
        min-width: 100%;
        gap: 25px;
        flex-direction: row;
        padding: 30px 6px 30px 29px;  
    }
}

.supportTitle {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 2px;
    @media (max-width: 1200px) {
        margin-top: 0;
        align-items: flex-start;
        flex-direction: row;
        gap: 5px;
      
    }
    @media (max-width: 1000px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    @media (max-width: 768px) {
        text-align: left;
        align-items: flex-start;
        font-size: 14px;
    }
}

.supportText {
    margin-top: 10px;
    font-size: 14px;
    line-height: 140%;
    font-weight: 500;
    text-align: center;
    @media (max-width: 1200px) {
        margin-top: 0;
        text-align: left;
    }
    @media (max-width: 1000px) {
        text-align: center;
    }
    @media (max-width: 768px)  {
        text-align: left;
        font-size: 13px;
    }
}

@media (max-width: 1000px) {
    .referal {
        flex: 0 0 60%;
        min-width: none;
    }  
}

@media (max-width: 768px) {
    .referal {
        flex: 0 0 100%;
    } 
}

.supportWrap {
    @media (max-width: 1200px) {
        display: flex;
        gap: 20px;
        align-items: center;
    }
    @media (max-width: 1000px) {
        flex-direction: column;
    }
    @media (max-width: 768px) {
        align-items: flex-start;
        gap: 8px;
    }
}

.supportIcon {
    flex-shrink: 0;
}

.pulsatingCircle {
    position: absolute;
    content: "";
    left: 47%;
    top: 61%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
  
    &:before {
      content: "";
      position: relative;
      display: block;
      width: 300%;
      height: 300%;
      box-sizing: border-box;
      margin-left: -100%;
      margin-top: -100%;
      border-radius: 45px;
      background-color: #3ae19b;
      animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }
  
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #3ae19b;
      border-radius: 15px;
      box-shadow: 0 0 8px #0000004d;
      animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
    }
  }

  .pulsatingCircleIn {
    position: absolute;
    content: "";
    left: 47%;
    top: 61%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
  
    &:before {
      content: "";
      position: relative;
      display: block;
      width: 300%;
      height: 300%;
      box-sizing: border-box;
      margin-left: -100%;
      margin-top: -100%;
      border-radius: 45px;
      background-color: #FF8C00;
      animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }
  
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #FF8C00;
      border-radius: 15px;
      box-shadow: 0 0 8px #0000004d;
      animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
    }
  }
  
  @keyframes pulse-ring {
    0% {
      transform: scale(0.03);
    }
    
    80%, 100% {
      opacity: 0;
    }
  }
  
  @keyframes pulse-dot {
    0% {
      transform: scale(0.8);
    }
    
    50% {
      transform: scale(1);
    }
    
    100% {
      transform: scale(0.8);
    }
  }
  

.iconAnim {
    flex-shrink: 0;
}