// progress.module.scss
@import '../../../scss/breakpoints.scss';
@import '../../../scss/colors.scss';
@import '../../../scss/mixins.scss';
@import '../../../scss/typhography.scss';

.progress {
  // Add any required styling here
}

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 63px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number, .numberOne {
  margin-top: 14px;
  font-size: 20px;
  font-weight: 900;
  line-height: 16px;
  color: inherit;
}

.numberOne {
  color: #e6e6e6;
}

.bar {
  margin-top: 30px;
}

.barContainer {
  background-color: #364152;
  border-radius: 12px;
  height: 8px;
  overflow: hidden;
}

.barCompleted {
  background-color: $primaryGreen;
  width: 0; // Start with 0 width for animation
  height: 100%;
  transition: width 0.5s ease-in-out; // Ensure this is correct and applied
}

.barWrapper {
  border-radius: 12px;
}

.userStats {
  text-align: center;
  margin-top: 22px;
  font-weight: 600;
  line-height: 140%;
  font-size: 15px;
}

.percent {
  font-weight: 900;
  font-size: 15px;
  line-height: 140%;
  margin-right: 3px;
  color: $primaryGreen;
}
